/********** Template CSS **********/
:root {
    --primary:#0E1F87;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: white;
    --gray: #f4f4f4;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    background-color: #0E1F87;
    border: 1px solid white;
    border-radius: 0;
}
.btn:hover{
    background-color: var(--light);
    border: 1px solid white;
}
.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 110px;
    min-height: 100vh;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100%);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: white;
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--light);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--dark);
    background: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    color: var(--primary);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.fondo{
    background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzQ5fHxlc3R1ZGlhbmRvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")!important;
    height: 100vh;
    width: 48vw;
    object-fit: cover;
    background-repeat: no-repeat;
    /* margin-top: 500px; */
 }
.logo{
    background-image: url("//public/img/logo.png");
    height: 67px;
    width: 300px;
    object-fit: cover;
    margin-left: 15px;
}
.gestor{
    margin-left: -15vw;
    color: white;
}

.img-footer{
    width: 30vw;
}
.lineas{
    color: #0E1F87;
}
.panel{
    background-color: white;
}

/* vista cursos*/

.por-100{
    display:block;
    width:100%;
}
.por-70{
    display:block;
    width:70%;
}
.por-50{
    display:block;
    width:50%;
}
.border-left{
    border-left: solid #0E1F87;
    border-left-width: 10px;
    left: 80%;
    top: -5%;
    position: absolute;
}
.hr{
    background-color: #8D8D8D;
    width: 80%;
    margin: 0;
}
.collapsible-button{
    width: 40vw;
    background: var(--primary);
    border: none;
    color: white;
    font-weight: 600;
    font-size: large;
    letter-spacing: 1px;
    z-index: 1;
}
.collapsible-button:hover{
    background: var(--primary);
}
button i{
    margin-left: 32vw;
}
.collapsible-div{
    width: 40vw;
    left: 0%;
}
.add{
    width: 20%;
    margin-left: 81.5vw;
    margin-top: -5vh;
    font-size: 40px;
    color: #0E1F87;
}
.add2{
    width: 20%;
    margin-left: 73.6vw;
    margin-top: -8vh;
    font-size: 40px;
    color: #0E1F87;
}
.collapsible-div div{
    width: 35vw;
    left: 0%;
}
.collapsible-div, .collapsible-div div{
    top: -100%;
    background: var(--gray);
}
.collapsible-div div div img{
    width: 5vw;
    height: 10vh;
    object-fit: cover;
    margin-left: 18vw;
    margin-top: 3vh;
}

.card-img-top{
    max-height: 30vh;
    object-fit: cover;
}
.persona {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}  
.imagen {
    flex: 0 0 115px;
    margin-right: 20px;
}  
.imagen img {
    max-width: 100%;
    border-radius: 100%;
}  
.info h2 {
    margin: 0;
    font-size: 24px;
}
  
.descripcion {
    margin: 10px 0;
}  
.contacto {
    display: flex;
    flex-wrap: wrap;
}  
.telefono, .correo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
}
  
.telefono i, .correo i {
    margin-right: 5px;
}  
.telefono:last-child, .correo:last-child {
    margin-right: 0;
}
.columna {
    display: flex;
    flex-direction: column;
}  
.recuadro {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}  
.recuadro h3 {
    margin-top: 0;
}  
.recuadro ul {
    margin: 0;
    padding: 0;
    list-style: none;
}  
.recuadro ul li {
    margin-bottom: 5px;
}  
.recuadro button {
    margin-top: 10px;
    padding: 5px 10px;
    background:var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  
.recuadro button:hover {
    background:var(--primary);
}
  
  .recuadro form {
    display: flex;
    align-items: center;
  }
  
  .recuadro form input[type="file"] {
    flex: 1;
    margin-right: 10px;
  }
  
  .recuadro form button[type="submit"] {
    padding: 5px 10px;
    background:var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .columna {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .recuadro {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  input[type="time"] {
    width: 70px;
  }
  
  button {
    padding: 10px;
    background: var(--primary);
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: var(--primary) ;
  }
  .process-card, .process-card2, .process-card4{
    font-weight: 400;
    color: black;
    background: var(--gray);
}
.process-card{
    width: 40vw;
}
.process-card2{
    height:14vh;
}
.process-card3{
    font-size: large;
    line-height: 0.5;
    padding-top: 2.5%;
    color: black;
}
.process-card3 strong{
    color: var(--primary);
}
.process-card4{
    width: 20vw;
    margin-bottom: 2vh;
    padding: 2%;
    line-height: 0.5;
}
.ficha{
    width: 81%;
    background: var(--primary);
    color: white;
    border-radius: 0;
    box-shadow: inset 2 2 2 2 #00000075;
}
.collapsible-div2{
    width: 35vw;
    background: var(--gray);
    line-height: 0.5;
}
.collapsible-div2 .p-4{
    width: 80%;
    left: 0%;
}
.collapsible-div2 div div img{
    width: 5vw;
    height: 10vh;
    left: 0%;
    object-fit: cover;
}
.border-left2{
    border-left: solid #0E1F87;
    border-left-width: 15px;
    height: 80%;
}
.fa-square-caret-left{
    color: var(--primary);
    font-size: 35px;
    margin: 5vh -2vw 0 3vw;
}
.filtro select, .filtro input{
    height: 5vh;
    width: 40%;
    font-size: 20px;
}
.filtro select{
    margin: 0 6vw;
}
strong{
    color: var(--primary);
}
.his-user-card{
    margin-right: 7.5vw;
}
.process-card2 div{
    height: 11vh;
}
.create-card{
    background: var(--gray);
    color: black;
}
.img-card img{
    height: 15vh;
}
.img-card input{
    opacity: 0;
    width: 6vw;
    display: inline-block;
}
.img-card div{
    position: relative;
    display: inline-block;
  }

.img-card div::before{
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar imagen';
    width: 7vw;
    font-size: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
}
#module1, #module2, #module3, #module4, #module5,
#module6, #module7, #module8, #module9{
    border-radius: 5px;
    height: 25vh;
    width: 29vw;
    padding:1.5%;
    color: white;
    text-shadow: 4px 3px 4px #222429;
    background-position: top 30% center;
}
#module9{
     padding: 3%;
}
.w-100v{
    width: 100vw;
}
.bg-orange{
    background-color: #FF9E5A;
}
.btn-home,.btn-home2{
    width: 10vw;
}
.btn-home i,.btn-home2 i{
    margin-left: 10%;
}
.btn-home2{
    background-color: #262626;
}
.collapsible-div2 h6{
    font-weight: 400;
}
.m-cursos{
    margin-top: 13vh;
}
.m-cursos i{
    color: #0E1F87;
    font-size: 30px;
    margin-left: 33.3vw;
}
input[type=radio]{
    background: var(--light);
}
.create-card i{
    margin-right: .5vw;
}
.fa-facebook, .fa-linkedin{
    color: blue;
}
.fa-twitter{
    color: deepskyblue;
}
.fa-square-instagram{
    color: orange;
}
.fa-tiktok{
    text-shadow: 1px 2px 0px red, -1px -1px 0px deepskyblue;
}
h5{
    font-weight: lighter;
}
.create-card p{
    text-align: justify;
    width: 85%;
}
.fa-pen, .fa-folder, .fa-minus{
    font-size: 24px;
}
.fa-user-plus{
    font-size: 30px;
}
.add3{
    margin-left: 59.3vw;
}
<<<<<<< HEAD
.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px solid #b21f1f;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #b21f1f;
    border: 4px solid #000;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #bdbdbd;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #821515;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
transition: all .2s ease;
  } 
=======
.text-cursos{
    width: 30vw;
}
.create-card2{
    width: 33vw;
    background: var(--gray);
}
.w-40{
    width: 14.5vw;
}
>>>>>>> 03da94bf726f957d4ac76df546cfe04e23ffea2f
