@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

*{
    font-family: 'IBM-plex-sans', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: ;
}
